$font-family-serif: "Kaisei Decol", serif;
$font-family-sans: "Poppins", sans-serif;
$primary-color: #ff3916;
$breakpoint-mobile: 362px;
$background-color: rgba(24, 11, 1, 0.377);

.home {
  background-color: $background-color;
  width: 100vw;

  &__header {
    text-align: center;

    h1 {
      font-family: $font-family-serif;
      font-weight: 500;
      font-size: 3.5rem;
      text-transform: uppercase;
      padding: 2rem 1rem;

      @media (max-width: $breakpoint-mobile) {
        font-size: 2.8rem;
      }
    }

    button {
      background: black;
      padding: 0.7rem;
      border: 2px solid $primary-color;
      border-radius: 0.3rem;
      text-transform: uppercase;
      color: $primary-color;
      font-family: $font-family-sans;
      letter-spacing: 1px;
      font-weight: 600;

      &:hover {
        background: $primary-color;
        color: white;
      }
    }
  }
}
