$font-family-sans: "Poppins", sans-serif;
$primary-color: #ff3916;

@mixin boxs {
  width: 520px;
  background: #fde7cf;
  color: #1c0200;

  margin-left: 4rem;
}

.card-header {
  width: auto;
  position: absolute;
  right: 0px;

  button {
    position: relative;
    right: 14px;
    top: 12px;
    background: black;
    padding: 0.7rem;
    border: 2px solid $primary-color;
    border-radius: 0.3rem;
    text-transform: uppercase;
    color: $primary-color;
    font-family: $font-family-sans;
    letter-spacing: 1px;
    font-weight: 600;

    &:hover {
      background: $primary-color;
      color: white;
    }
  }
}
.card-info {
  width: 100vw;
  display: flex;
  justify-content: center;

  &__container {
    width: 480px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    figure {
      img {
        border-radius: 20px;
      }
    }

    &__content {
      height: 100%;

      header {
        background: #f4583d;
        margin-top: 3rem;
        margin-left: 4rem;
        text-wrap: nowrap;
        h1 {
          font-family: "Alice", serif;
          font-weight: 400;
          font-size: 3.4rem;
          text-transform: uppercase;
        }
      }

      &__topics {
        @include boxs;
        border-radius: 14px;
        margin-bottom: 1rem;

        .topics-container {
          display: flex;
          flex-direction: column;
          padding: 14px;

          .content-container {
            display: flex;
            justify-content: space-between;
            padding-right: 16px;

            div {
              width: 50%;
              text-wrap: nowrap;
              font-weight: 600;
              font-family: "Alice", serif;

              span {
                font-size: 14px;
                font-weight: 400;
                font-family: Roboto, "Helvetica Neue", sans-serif;
              }
            }
          }
        }

        footer {
          text-align: center;
          padding-bottom: 4px;
          font-weight: 600;
          font-family: "Alice", serif;

          span {
            font-size: 14px;
            font-weight: 400;
            font-family: Roboto, "Helvetica Neue", sans-serif;
          }
        }
      }

      &__meanings {
        @include boxs;
        border-radius: 14px;
        display: flex;
        justify-content: space-between;
        position: relative;

        .shadow,
        .light {
          width: 50%;
          padding: 14px;
        }
        .light {
          background: #1c0200;
          color: #fde7cf;
          border-top-left-radius: 14px;
          border-bottom-left-radius: 14px;
        }

        h2 {
          font-family: "Cinzel Decorative", serif;
          font-weight: 600;
        }
      }
    }
  }
}

.box-content {
  background: rgba(24, 11, 1, 0.226);
  padding: 0 12px 0 12px;
  border-radius: 14px;
}
