$font-family-sans: "Poppins", sans-serif;
$primary-color: #ff3916;

.card-header {
  width: auto;
  position: absolute;
  right: 0px;

  button {
    position: relative;
    right: 14px;
    top: 12px;
    background: black;
    padding: 0.7rem;
    border: 2px solid $primary-color;
    border-radius: 0.3rem;
    text-transform: uppercase;
    color: $primary-color;
    font-family: $font-family-sans;
    letter-spacing: 1px;
    font-weight: 600;

    &:hover {
      background: $primary-color;
      color: white;
    }
  }
}
.card-info {
  width: 100vw;
  display: flex;
  justify-content: center;

  &__container {
    width: 480px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    figure {
      img {
        border-radius: 20px;
      }
    }

    &__content {
      height: 100%;

      header {
        background: #f4583d;
        margin-top: 3rem;
        margin-left: 4rem;
        text-wrap: nowrap;
        h1 {
          font-family: "Alice", serif;
          font-weight: 400;
          font-size: 3.4rem;
          text-transform: uppercase;
        }
      }

      &__meanings {
        background: #fde7cf;
        color: #1c0200;
        padding: 0 12px 0 12px;
        border-radius: 14px;
        margin-left: 4rem;

        display: flex;
        justify-content: space-between;

        div {
          width: 50%;
        }

        h2 {
          font-family: "Cinzel Decorative", serif;
          font-weight: 600;
        }
      }
    }
  }
}

.box-content {
  background: rgba(24, 11, 1, 0.226);
  padding: 0 12px 0 12px;
  border-radius: 14px;
}
