@import "./reset.style.scss";

html {
  font-family: Roboto, sans-serif;
}

body {
  background-image: url(../public/assets/wallpaper_blur.png);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
